{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'route.css' %}">

<html>
<head>
    <title>Get Directions</title>

</head>

<body>
    <h1>Where do you want to go?</h1>

    <div class="container">
        <form action="{% url 'get_direction' %}" method="get">
            <label for="start">Start Location:</label>
            <input type="text" id="start" name="start"><br>

            <label for="end">Destination Location:</label>
            <input type="text" id="end" name="end"><br>

            <label for="mode_select">Transit Mode:</label>
            <select id="mode_select" name="mode_select">
                <option value="Drive">Drive</option>
                <option value="Taxi">Taxi</option>
                <option value="Public Transport">Public Transport</option>
                <option value="Bicycle">Bicycle</option>
                <option value="Walk">Walk</option>
            </select><br><br>
            <input type="submit" value="Get Directions">
        </form>
    </div>
</body>
</html>