.wrapper {
  background-color: #F8F8FF;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
}

body {
    background-image: url("/static/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-family: Calibri, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}

body::before {
    content: "";
    background-color: white;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

table {
    font-family: Calibri, sans-serif;
    font-size: 25px;
    border: 0.5px #D3D3D3;
    table-layout: fixed;
    width: 100%;
    text-align: left;
    vertical-align: top;
    background-color: #F8F8FF;
}


h1 {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    padding-left:20px;
    color: #A52A2A;
}
h3 {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    padding-left:20px;
    margin-top:50px;
    color: #A52A2A;
}

.table-1 tr:first-child,
.table-1 td:first-child {
    width: 350px;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.table-1 tr:nth-child(2),
.table-1 td:nth-child(2) {
    text-align: left;
    padding-right: 20px;
}

.table-2 tr:first-child,
.table-2 td:first-child {
    width: 350px;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}


.table-3 tr:first-child,
.table-3 td:first-child {
    width: 350px;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.table-3 tr:nth-child(2),
.table-3 td:nth-child(2) {
    width: 8%;
    text-align: left;
    vertical-align: top;

}
.table-3 tr:nth-child(3),
.table-3 td:nth-child(3) {
    width: 40%;
    text-align: left;
    vertical-align: top;
    padding-right: 20px;
}

.table-7 th:first-child,
.table-7 td:first-child {
    width: 350px;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.table-7 th:nth-child(2),
.table-7 td:nth-child(2) {
    text-align: left;
    padding-right: 20px;
}

.table-9 th:first-child,
.table-9 td:first-child {
    width: 350px;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
}
.table-9 th:nth-child(2),
.table-9 td:nth-child(2) {
    text-align: left;
    padding-right: 20px;
    margin-bottom: 100px;
}

.table-11 th:first-child,
.table-11 td:first-child {
    width: 5%;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.table-11 th:nth-child(2),
.table-11 td:nth-child(2) {
    width: 40%;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.table-11 th:nth-child(3),
.table-11 td:nth-child(3) {
    width: 12%;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.table-11 th:nth-child(4),
.table-11 td:nth-child(4) {
    width: 13%;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}